@charset "UTF-8";
/* --------------- Debut du reset CSS -------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------------- Fin du reset CSS -------------------*/

body{
  overflow-x: hidden; 
}
nav ul{
  margin:2% 20% 0 0 !important;
}
.nav-logo{
  width: 10%;
  height: auto;
  margin: 0 0 0 5%;
}
.navbar-collapse li{
  float: right;
  color: #fff;
  display: inline-block;
}

/* Paramètre de la navbar lorsque qu'elle n'est pas tout en haut du site*/
.navbar-fixed-top.scrolled {
  background-color: rgba(255, 255, 255, 0.8) !important;
  transition: all 500ms linear;
  opacity: 1 !important;
  height: 120px;
  }
  
.navbar-fixed-top.scrolled a{
  color: #000;
}
/* Paramètre de la navbar lorsque qu'elle n'est pas tout en haut du site */
.bg-primary {
  background-color: rgba(255, 255, 255, 0);
  transition: all 500ms linear; }

.bg-primary a{
  color: #fff;
}
  
footer p{
    font-family: "Arial Narrow";
    color: white;
}

.brightness img{
    filter: brightness(50%);
}

.brightness:hover img{
    filter: brightness(100%);
    transition: all 400ms ease-out;
}
/*Div navbar header*/


.navbar-default {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    border-color: transparent;
}

.navbar-brand {
    color: black !important;
}

/*Animation bouton de la Div  navbar header*/

.text {
    color: white;
    margin-bottom: 10px;
}

.margintop{
    margin-top: 10px;
}
/*Footer*/
.footer {
    background: black !important;
}

.list-inline {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

body{
  background: url('http://www.optionfitness.fr/img/picture5.jpg');
  background-size: cover;
}

.texte_presentation{
  text-align: center;
  margin-top: 50vh;
  margin-bottom: 5vh; 
  font-size: 48px;
  color: #fff;
}

