p{
    font-family: "caviar dreams";
    color: black;
}
.titre{
    font-family: "roboto";
}
.padding{
    padding: 100px 0px 0px 0px; 
}
.color{
    color: orange;
}
.brightness img{
    filter: brightness(50%);
}

.brightness:hover img{
    filter: brightness(100%);
    transition: all 400ms ease-out;
}
/*Div navbar header*/

.centrer{

}
.navbar-default {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    border-color: transparent;
}

.navbar-brand {
    color: black !important;
}

/*Animation bouton de la Div  navbar header*/

.text {
    color: white;
    margin-bottom: 10px;
}

.margintop{
    margin-top: 10px;
}
/*Footer*/
.footer {
    background: black !important;
}

.footer2 {
    background: black !important;
}

.list-inline {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.about{
    background: #fff;
    

}


.about img{
    margin-bottom: 100px;
}
.espace{
    margin-top: 50px;
    margin-bottom: 50px;
}
.about {
    text-align: justify;
}
.cinq{
    background: white;
}

.black{
    color: black;
    text-align: center;
}
.espace2{
    margin-bottom: 50px;
}
hr{
    border-color: black;
    width: 200px;
}
/*Animation Keyframes des SVG*/

