@charset "UTF-8";
/* --------------- Debut du reset CSS -------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------------- Fin du reset CSS -------------------*/

body{
   margin:0;
   padding:0;
   height:100%;
  overflow-x: hidden; 
}


.navbar-header{
  width: 100%;
}

.center{
  text-align: center;
}
nav ul{
  margin: 4% 10% 0 0 !important;
  transition: all 300ms linear;
}
.nav-logo{
  width: 7%;
  height: auto;
  margin: 2% 0 0 10%; 
  transition: all 200ms linear;
}
.navbar-collapse li{
  float: right;
  color: #fff;
  display: inline-block;
}
.nav>li>a{
  transition: all 200ms ease;
  font-size: 20px;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #f87600;
    transition: all 200ms ease;
}

/* Paramètre de la navbar lorsque qu'elle n'est pas tout en haut du site*/
.navbar-fixed-top.scrolled {
  background-color: rgba(255, 255, 255, 1) !important;
  transition: all 500ms linear;
  opacity: 1 !important;
  height: 85px;
  border-bottom: 2px solid orange;
  }

  .navbar-fixed-top.scrolled ul {
      margin: 20px 10% 0 0 !important;
      transition: all 300ms linear;
  }

  .navbar-fixed-top.scrolled a {
     font-size: 16px;
  }
  
 .navbar-fixed-top.scrolled .nav-logo{
  width: 75px;
  height: auto;
  margin: 2.5px 0 0 10%; 
  transition: all 300ms linear;
}
.navbar-fixed-top.scrolled a{
  color: #000;
}
/* Paramètre de la navbar lorsque qu'elle n'est pas tout en haut du site */
.bg-primary {
  background-color: rgba(255, 255, 255, 0);
  transition: all 500ms linear; }

.bg-primary a{
  color: #fff;
}
  
footer p{
    font-family: "Arial Narrow";
    color: white;
}

.brightness img{
    filter: brightness(50%);
}

.brightness:hover img{
    filter: brightness(100%);
    transition: all 400ms ease-out;
}
/*Div navbar header*/


.navbar-default {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    border-color: transparent;
}

.navbar-brand {
    color: black !important;
}

/*Animation bouton de la Div  navbar header*/

.text {
    color: white;
    margin-bottom: 10px;
}

.margintop{
    margin-top: 10px;
}
/*Footer*/
.footer {
    background: black !important;
}

.list-inline {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.tarifs {
  color: white;
  font-family: Caviar Dreams;
}

.mon-background{
  background: url('http://www.optionfitness.fr/img/picture5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -100;
  filter: brightness(60%);

}
.courseapied{

    background: url('http://www.optionfitness.fr/img/picture5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    filter: brightness(60%);


}

.vincent{
}

.mon-background2{
    background: url('img/poids.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    filter: brightness(60%);

}


.mon-background3{
    background: url('img/prise_masse.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    filter: brightness(60%);

}


.mon-background4{
    background: url('img/cours_seniors.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    filter: brightness(60%);

}


.mon-background5{
    background: url('img/maldedos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    filter: brightness(60%);

}


.mon-background6{
    background: url('img/decouverte.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
    filter: brightness(60%);

}



.texte_presentation{
  text-align: center;
  padding-top: 40vh;
  margin-bottom: 50vh; 
  font-size: 48px;
  color: #fff;
}



.decouverte{
    text-align: center;
    padding-top: 35vh;
    color: #fff;

}

.titredecouverte{
    padding-bottom: 20px;
    font-size: 3em;



}
.contentdecouverte{
    padding-top: 5%;


}

.containerdecouverte{
    background: rgba(0,0,0,0.4);
    padding: 3% 3% 3% 3%;
    margin-bottom: 10vh;



}
/* EXERCICES */



.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 50%;
    justify-content: space-around;
    position: relative;
    width: 100%;
    padding: 0;
}
.container section {
    width: 100%;
    height: 800px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.container section:nth-child(1) .image {
    background-image: url("img/cap.jpg");

}

.container section:nth-child(2) .image {
    background-image: url("img/pilates-fitness.jpg");
}
.container section:nth-child(3) .image {
    background-image: url("img/trx.jpg");
}
.container section:nth-child(4) .image {
    background-image: url("img/Coursenentreprise.png");
}
.container section:nth-child(5) .image {
    background-image: url("img/crossfit.jpg");
}

.container section .image {
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    opacity: 0.4;
}
.container section .stuff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    max-width: 70%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    color: #e67e22;
    margin: 0 auto;
    font-size: 26px;
    position: relative;
}
.container section .stuff h2 {
    margin: 0px;
    color: #ffffff;
    background: black;
}
.container section .stuff:before, .container section .stuff:after {
    width: 100%;
    height: 1px;
    display: block;
    background-color: #d35400;
    content: "";
    margin: 30px 0;
}

.container section .stuff p{
    color: #ffffff;
    font-size: 0.8em;
    text-align: justify;
    background: black;
    padding: 50px;
    font-family: CaviarDreams;
    text-decoration: justify;
}

.content p{
    color: #ffffff;
}

#offres{
  background-color: #fff; 
}

#offres img{
  width: 100%;
  height: auto;
  margin: 0 0 10% 0;
}
#objectifs{
  background: #fff;
}
#objectifs h2{
  color: orange;
  font-size: 32px;
   margin: 5% 0;
}

 #offres h2{
  color: #fff;
  font-size: 32px;
  margin: 5% 0;
}

.photo_objectif {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  float:left;
  overflow:hidden;
  width: 100%;
  display: block;
  margin:10% auto;
  position: relative;
}

.photo_objectif img {
    width:330px;
    position: relative;
    height:330px;
    top:0;  
  }



@media (max-width: 1200px);  {
.photo_objectif .overlay {
  position: absolute;
  left: 0%;
  top:-20px;
  width: 0%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.6);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease;
  visibility:hidden;
  overflow:hidden;
  color: #fff;
  font-size: 24px;
  text-align: center;
  vertical-align: central;
  padding: 0;
  margin: 0;
  line-height: 335px;
}

.photo_objectif:hover .overlay {
  top: -20px;
    left: 0;
    visibility: visible;
    width: 330px;
    height:330px;
}
}
figure.effect-oscar figcaption img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
  padding: 3em;
  background-color: rgba(58,52,42,0.7);
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
}

figure.effect-oscar h2 {
  margin: 50% 30% 30% 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-oscar:hover figcaption {
  background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
  opacity: 0.8;
}

#contact{
  text-align: center;
  padding-top: 10%;
}


.wpcf7 {
   font-family: "Roboto"!important;
position: relative;
background-color: rgba(100,100,100,0.6);
}

.wpcf7-form {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}
.wpcf7-textarea {
  width: 55%;
  resize:none;
  border: solid 2px orange;
   padding: 10px 10px;
}

.wpcf7 input {
  width: 50%;
  border-radius: 10px;
  border: solid 2px orange;
  height: 34px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.wpcf7-text {
width: 50%;
}

.wpcf7-submit {
  background: transparent;
  border: solid 2px orange !important;
  border-radius: 0 !important;
  width: 10% !important;
  margin-top: 50px;
  transition: all 200ms linear;
  color: #fff;

}

.wpcf7-submit:hover {
  background: orange;
  color: #fff;
  transition: all 200ms linear;
}

#wpcf7-f4407-p4405-o1 {
background-color: #333333;
border: 5px solid #0074A2;
}

#contact label{
  color: #f87600;
  position: absolute;
}

#contact h1{
  color: #f87600;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  padding: 2% 0 5% 0; 
}

input:focus::-webkit-input-placeholder {
    position: relative;
    transform: translate3d(-60px,-25px,0) scale(0.75);
    transition: 0.2s linear;
    display: block;
    color: orange;
}

input::-webkit-input-placeholder {
    transition: all 0.5s linear;
    top:0;
    font-size: 1em;
    color: inherit;
}

@media (min-width: 991px) and (max-width: 1200px) {
   input:focus::-webkit-input-placeholder {
    transform: translate3d(-50px,-25px,0) scale(0.75);
  }
}

@media (min-width: 769px) and (max-width: 991px) {
   input:focus::-webkit-input-placeholder {
    transform: translate3d(-40px,-25px,0) scale(0.75);
  }
}

@media (max-width: 769px) {
   input:focus::-webkit-input-placeholder {
    transform: translate3d(-10%,-25px,0) scale(0.75);
  }
}
#exercice h1, #exercice h2{
  text-align: center;
}

#exercice h1{
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  color: orange;
  padding: 50px 0;

}

#courseapied h2, #TRX h2, #crossfit-crosstraining h2, #Pilates h2, #coursenentreprise h2{
  font-size: 28px;
  color: orange;
  padding: 50px 0;
}



.mataille img{
  width: 100%;
  padding: 25px;
  vertical-align:middle;

}

.mataille{
  height:500px;
  line-height:500px;
  text-align:center;
  padding-bottom: 50px;
}

.alignement{
  text-align: left;
  height: 500px;
  padding: 190px 25px;
}

#exercice{
  padding-top: 200px;
}

hr.styleexercice{ 
  width: 50%;
  margin: 0 auto;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, orange, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, orange, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, orange, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, orange, #f0f0f0); 
}

#main{
  position:relative;
  height: 100%;
}

.footer2{
   position:absolute;
   bottom:0;
   width:100%;
    background: black !important;
}

.h3tarif{
  font-size: 24px;
  color: white;
  background: #595ca1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}

.h3tarif2{
  font-size: 24px;
  color: white;
  background: #b464a3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}

.h3tarif3{
  font-size: 24px;
  color: white;
  background: #7bc5c6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}

.prix{
  padding-top: 20px; 
  padding-bottom: 20px; 
  font-size: 40px;
  color: white;
  font-weight: bold;
  background: #404040;
}

.prix2{
  padding-top: 20px; 
  padding-bottom: 70px; 
  font-size: 40px;
  color: white;
  font-weight: bold;
  background: #404040;
}

.prix3{
  padding-top: 20px; 
  padding-bottom: 35px; 
  font-size: 40px;
  color: white;
  font-weight: bold;
  background: #404040;
}

.prix4{
padding-bottom: 20px; 
  color: white;
  font-weight: bold;
  background: #404040;
}

.about{
  background: #f1f1f1;
}

.annotation{
  color: rgba(200,200,200,0.8);
  margin-bottom: 40px; 
}

.mesborder{
  border-left:solid  2px  orange;
  border-right:solid  2px  orange;

}

#tarif{
   background: #f1f1f1;

}

.mesh2{
    font-size: 32px;
    color: black;
    margin-bottom: 75px;
}

p {
  color: black;
   font-family: "Roboto"!important;
}


.contentdecouverte p{
  color: white !important;
}